[alias]
	co = checkout
	br = branch
	bc = checkout -b
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	all = add -A
	cm = commit -m 
	ph = push origin HEAD
	pl = pull origin HEAD
	plo = pull origin
	pho = push origin
	pr = pull-request
